<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
	<bean class="com.bcnx.web.app.context.BcnxApplicationContext"/>
	<import resource="member_context.xml"/>
	<import resource="role_context.xml"/>
	<import resource="user_context.xml"/>
	<import resource="bulletin_context.xml"/>
	<import resource="bcnx_context.xml"/>
	<import resource="mail_context.xml"/>
	<import resource="auditor_context.xml"/>
	<import resource="bin_context.xml"/>
	<import resource="fee_context.xml"/>
	<import resource="bcnxSettle_context.xml"/>
	<import resource="dispute_context.xml"/>
</beans>
